html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;  
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

header {
    /* We want the header to have a static height, 
    it will always take up just as much space as it needs.  */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    background-color: #3768D3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: whitesmoke;
    display: block;
}

section {
    /* By setting flex-grow to 1, the main content will take up 
    all of the remaining space on the page. 
    The other elements have flex-grow: 0 and won't contest the free space. */
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
    background-color: #D7E3FC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    padding: 15px 30px;
}

footer {      
    /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    background-color: #111A2C;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

#begin {
    width: 100%;
    background-color: transparent;
    border: 2px solid #1E31D6;
    color: whitesmoke;
    font-size: 1.2em;
    outline: none;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.health {
    color: red;
    font-size: 1.5em;
    width: 15%;
    height: 100%;
    visibility: hidden;
}

.messagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.thirdbox {
    display: flex;    
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 15%;  
    height: 100%;     
}

.message {
    color: whitesmoke;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flagcontainer {
    width: 50%;
}

#flag {
    width: 100%;
}

.options {
    width: 80%;
    padding: 30px 10px 10px 10px;
}

.button {
    visibility: hidden;
    width: 100%;
    background-color: transparent;
    border: 2px solid #1E31D6;
    color: #060313;
    outline: none;
    border-radius: 8px;
    margin: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    line-height: 22px;
    min-height: 60px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.correct {
    border: 2px solid #0FDA19;
}

.correctguess {
    background-color: #267428 !important;
    color: whitesmoke;
}

.incorrect {
    border: 2px solid #DA0F0F;    
}

.incorrectguess {
    background-color: #941F1F !important;
    color: whitesmoke;
}

.button:hover:enabled {
    background-color: #1E31D6;
    color: white;
}